<h2><%= @user.username %> Profile Page</h2>

<div class="user-list">
<p>Username: <%= @user.username %></p>
<p>Email: <%= @user.email %></p>
<p>Role: <%= @user.role %></p>
<%= link_to "Edit Profile", edit_user_registration_path %>
</div>
