<h1><%= @user.username %> Profile Page</h1>

<%= link_to "Edit Profile", edit_user_registration_path %>

<li>Username: <%= @user.username %></li>
<li>Email: <%= @user.email %></li>
<li>Avatar: <img src=<%=@user.avatar%> /></li>
