<!DOCTYPE html>
<html>
  <head>
    <title>SkiMountainReview</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag    'application' %>
  </head>

  <body>
    <nav class="container">
      <div class="search-div">
      <%= form_tag mountains_path, :method => 'get', :class => 'search-bar'  do %>
        <div>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil, :class => 'button' %>
        </div>
      </div>
      <% end %>

      <div class="home">
        <%= link_to "Top Mountains", root_path %>
      </div>
      <div class="flasherror">
        <%= flash[:notice] %>
        <%= flash[:alert] %>
      </div>
      <div class="sign-in">
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% if current_user.admin? %>
          <%= link_to "Admin Section", admin_path %>
        <% end %>
      <% else %>
        <%= link_to "Sign In", new_user_session_path %> /
        <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>
    </div>
    </nav>
    <%= yield %>
    <div id="app"/>
  </body>
</html>
